.MainPage {
  min-height: 200vh;
  overflow-x: hidden;
  /* width: 100%; */
}

.MainPage header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  z-index: 1000;
  background-color: #ffffff2b;
}
.MainPage header .logo {
  color: azure;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 8px;
}
.MainPage header .logo:hover {
  font-size: 2.1em;
  transition: 0.2s;
}
.MainPage header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.MainPage header ul li {
  list-style: none;
  margin-left: 20px;
}
.MainPage header ul li a,
button {
  text-decoration: none;
  padding: 6px 6px;
  color: azure;
  border-radius: 8px;
  background-color: transparent;
}
.MainPage header ul li a:hover,
.MainPage header ul li a.active {
  background: azure;
  color: black;
  transition: 1s;
}

.Problem {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5vh;
  background-color: #292358; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contentProblem {
  overflow-y: auto;
  max-height: 15vh;
  /* word-wrap: break-word; */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  /* border: 2px solid goldenrod; */
  border-radius: 2px;
  height: 70vh;
  width: 40vw;
  position: relative;
}
#live {
  margin-bottom: 10px;
}
.box {
  height: 80%;
  width: auto;
  object-fit: cover;
}

.Solution {
  display: flex;
  flex-direction: column;
}
.Content {
  /* border: 2px solid goldenrod; */
  /* box-shadow: 0px 0px 20px goldenrod; */
  height: 70vh;
  width: 40vw;
  margin-top: 5vh;
  padding: 2em;
  color: aliceblue;
  position: relative;
  border-radius: 20px;
  animation: shadoww 1.5s linear infinite;
}
@keyframes shadoww {
  0% {
    box-shadow: 0px 0px 5px goldenrod;
  }
  50% {
    box-shadow: 0px 0px 25px goldenrod;
  }
  100% {
    box-shadow: 0px 0px 5px goldenrod;
  }
}

footer {
  position: absolute;
  bottom: 2em;
}

.pen {
  height: 2em;
  position: absolute;
  right: 0.5em;
}

h3 {
  padding: 5px;
  background-color: #241e50;
}

.dataAndEdit {
  display: flex;
  align-items: center;
  /* padding: 5px; */
  position: relative;
  /* width: 5200px; */
  /* background-color: #524e77; */
}

.editProblemPopup {
  height: auto;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(43, 38, 122, 0.424);
  position: absolute;
  z-index: 1;
  padding: 2em;
}

.eform-group {
  display: flex;
  flex-direction: column;
}

.eform-control {
  width: 50%;
  border-radius: 5px;
  border: none;

  padding: 10px 5px;
}
#close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 2em;
  color: aliceblue;
  font-weight: 500;
  background-color: rgba(255, 0, 0, 0.507);
  border-radius: 50%;
  z-index: 2;
  height: 50px;
  width: 50px;
  text-align: center;
  /* pointer-events: none; */
}

#edetails {
  font-size: 1.5em;
  width: 700px;
}

/* HERE STARTS TJE FA<E<AFpkde;lfkds */

.Solution {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;

  /* width: 100vw; */
  background-color: #000000;
}

footer {
  background-color: rgba(182, 31, 31, 0.363);
  font-size: 1.2em;
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.708);
  /* animation: shadoww 3s linear infinite; */
}

.StageContainer {
  /* width: 100%; */
  margin-top: 8vh;
  height: 80%;
  background: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  font-size: 2em;
  text-align: center;
}

.notificationoo {
  position: absolute;
  z-index: 12;
  height: 300px;
  width: 500px;
  background-color: rgba(153, 74, 74, 0.932);
  border-radius: 47% 53% 31% 69% / 33% 30% 70% 67%;
  left: 50%;
  top: 150%;
  /* background-color: antiquewhite; */
  transform: translate(-50%, -50%);
  display: flex;
  color: rgb(8, 8, 8);
  align-items: center;
  padding: 55px;
}
.notification text {
  color: aliceblue;
}

#x {
  position: absolute;
  top: 10%;
  color: aliceblue;
  right: 15%;
  pointer-events: stroke;
  background-color: #292358;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}
.Stage {
  margin: 20px;
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 63, 63);
  text-align: center;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  /* animation: moonimate 3s linear infinite; */
  /* border: 2px dashed white; */
}

.one {
  background-image: url("./assets/mOne.png");
  /* animation: moonimate 5s linear infinite; */
  /* box-shadow: 0px 0px 55px rgb(231, 208, 4); */
}

.two {
  background-image: url("./assets/mTwo.png");
}

.three {
  background-image: url("./assets/mThree.png");
}

.four {
  background-image: url("./assets/mFour.png");
}

.five {
  background-image: url("./assets/mFive.png");
}

@keyframes moonimate {
  0% {
    opacity: 0.2;
    /* transform: rotate(0deg); */
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
    /* transform: rotate(360deg); */
  }
}
#numberAndName {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#moon {
  height: 25vh;
}

h5,
h4,
h6 {
  color: aliceblue;
  word-wrap: break-word;
}

#tick {
  height: 20px;
  position: static;
}

#onlyButtons {
  display: flex;
  /* flex-direction: column; */
  width: 25vh;
  height: 5vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(240, 248, 255, 0.068);
}

.Support {
  height: 100vh;
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

#supportgif {
  height: 100vh;
  width: 400px;
  position: absolute;
  left: 0%;
  top: 0%;
}

/* .newCon {
  position: absolute;
  left: 0%;
} */

.helpContainer {
  /* background-color: #241e50; */
  height: 70vh;
  width: 60vw;
  margin-top: 15vh;
  border-radius: 10px;
  /* z-index: 2; */
  padding: 1em;

  display: flex;
  flex-direction: column;
}

#green,
#red,
#yellow {
  height: 100px;
  width: 100px;
  margin: 1em;
  margin-right: 2em;
  border-radius: 50%;
  animation: moonimate 3s linear infinite;
}

#green {
  box-shadow: 0px 0px 20px green;
}

#red {
  box-shadow: 0px 0px 20px red;
}

#yellow {
  box-shadow: 0px 0px 20px yellow;
}

#helpline {
  align-self: flex-end;
}

#describe {
  display: flex;
  align-items: center;
  width: 100%;
}
