.MainPage {
  min-height: 100vh;
}

.MainPage header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  z-index: 1000;
  background-color: #241e50;
}
.MainPage header .logo {
  color: azure;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 8px;
}
.MainPage header .logo:hover {
  font-size: 2.1em;
  transition: 0.2s;
}
.MainPage header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.MainPage header ul li {
  list-style: none;
  margin-left: 20px;
}
.MainPage header ul li a,
button {
  text-decoration: none;
  padding: 6px 6px;
  color: azure;
  border-radius: 8px;
  background-color: transparent;
}
.MainPage header ul li a:hover,
.MainPage header ul li a.active {
  background: azure;
  color: black;
  transition: 1s;
}

.Problem {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5vh;

  background-color: #292358; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  /* border: 2px solid goldenrod; */
  border-radius: 2px;
  height: 70vh;
  width: 40vw;
  position: relative;
}

.box {
  height: 80%;
  width: auto;
  object-fit: cover;
}

.Content {
  /* border: 2px solid goldenrod; */
  /* box-shadow: 0px 0px 20px goldenrod; */
  height: 70vh;
  width: 40vw;
  margin-top: 5vh;
  padding: 2em;
  color: aliceblue;
  position: relative;
  border-radius: 20px;
  animation: shadoww 1.5s linear infinite;
}
@keyframes shadoww {
  0% {
    box-shadow: 0px 0px 5px goldenrod;
  }
  50% {
    box-shadow: 0px 0px 25px goldenrod;
  }
  100% {
    box-shadow: 0px 0px 5px goldenrod;
  }
}

footer {
  position: absolute;
  bottom: 2em;
}

.pen {
  height: 2em;
  position: absolute;
  right: 0.5em;
}

h3 {
  padding: 5px;
  background-color: #241e50;
}

.dataAndEdit {
  display: flex;
  align-items: center;
  /* padding: 5px; */
  position: relative;
  /* width: 5200px; */
  /* background-color: #524e77; */
}

.editProblemPopup {
  height: auto;
  width: 600px;
  border-radius: 10px;
  background-color: rgba(43, 38, 122, 0.424);
  position: absolute;
  z-index: 1;
  padding: 2em;
}

.eform-group {
  display: flex;
  flex-direction: column;
}

.eform-control {
  width: 50%;
  border-radius: 5px;
  border: none;

  padding: 10px 5px;
}
#close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 2em;
  color: aliceblue;
  font-weight: 500;
  background-color: rgba(255, 0, 0, 0.507);
  border-radius: 50%;
  z-index: 2;
  height: 50px;
  width: 50px;
  text-align: center;
  /* pointer-events: none; */
}

#edetails {
  font-size: 1.5em;
}
