#Login {
  height: 100vh;
  width: 100%;
  background-color: rgb(58, 58, 61);
  padding: 75px;
  z-index: 1;
}

#main_container {
  background-color: rgba(255, 255, 255, 0.883);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 35px;
}

#l_container {
  background-color: blueviolet;
  height: 100%;
  width: 35vw;
  padding: 20px;
}

#r_container {
  background-color: rgb(57, 11, 100);
  height: 100%;
  width: 35vw;
  padding: 20px;
}
