#Login {
  height: 100vh;
  width: 100%;
  background-color: rgb(2, 2, 46);
  /* padding: 60px;  */
  z-index: 1;
  position: relative;
}

.notification {
  position: absolute;
  z-index: 2;
  height: 200px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.835);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  /* background-color: antiquewhite; */
  transform: translate(-50%, -50%);
  display: flex;
  color: rgb(8, 8, 8);
  align-items: center;
  padding: 5px;
}

#content_not {
  font-family: "Courier New", Courier, monospace;
}

#main_container {
  /* background-color: rgba(255, 255, 255, 0.883); */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  /* padding: 35px; */
  z-index: 3;
}

#shoot {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  background: #fff;
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animateNewShoot 3s linear infinite;
}

@keyframes animateNewShoot {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

#shoot:nth-child(1) {
  top: 0;
  right: 0;
  animation-delay: 0;
  animation-duration: 1s;
}

#shoot:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: -0.2s;
  animation-duration: 3s;
}

#shoot:nth-child(3) {
  top: 80px;
  left: initial;
  right: 40px;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

#shoot:nth-child(4) {
  top: 10px;
  left: initial;
  right: 930px;
  animation-delay: -0.6s;
  animation-duration: 5s;
}

#shoot:nth-child(5) {
  top: 0;
  left: initial;
  right: 500px;
  animation-delay: -0.7s;
  animation-duration: 1s;
}

#shoot:nth-child(6) {
  top: 0;
  left: initial;
  right: 520px;
  animation-delay: -0.8s;
  animation-duration: 9s;
}

#shoot:nth-child(7) {
  top: 0;
  left: initial;
  right: 240px;
  animation-delay: -0.2s;
  animation-duration: 3s;
}

#shoot:nth-child(8) {
  top: 60;
  left: initial;
  right: 10px;
  animation-delay: -0.7s;
  animation-duration: 4s;
}

#shoot:nth-child(9) {
  top: 0;
  /* left: initial; */
  left: 700px;
  animation-delay: -0.2s;
  animation-duration: 3s;
}

#shoot:nth-child(10) {
  top: 0;
  left: 350px;
  animation-delay: -0.5s;
  animation-duration: 4s;
}

#shoot:nth-child(11) {
  top: 0;
  left: initial;
  right: 80px;
  animation-delay: -0.2s;
  animation-duration: 3s;
}

#shoot:nth-child(12) {
  top: 0;
  left: initial;
  right: 80px;
  animation-delay: -0.2s;
  animation-duration: 3s;
}

#shoot::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
#l_container {
  /* background-color: rgba(92, 24, 147, 0.8); */
  border: 2px solid wheat;
  height: 540px;
  width: 35vw;
  padding: 30px;
}

.form-group {
  color: #fff;
  margin-top: 5px;
}

button {
  margin-top: 5px;
  font-family: "Courier New", Courier, monospace;
}
#r_container {
  border: 2px solid wheat;
  height: 540px;
  width: 35vw;
  padding: 30px;
}

#r_container h2,
#l_container h2 {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}
.form-group {
  /* background-color: aqua; */
}

input {
  height: 25px;
}

label {
  font-size: 15px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}
