/* Fragment {
  background-color: rgb(0, 0, 0);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.container_body {
  background: linear-gradient(#09090a, #0400e7) !important;
  min-height: 300vh;
  position: relative;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  z-index: 1000;
  /* filter: blur(4px); */
}

header .logo {
  color: azure;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 8px;
}

header .logo:hover {
  font-size: 2.1em;
  transition: 0.2s;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 6px;
  color: azure;
  border-radius: 8px;
}

header ul li a:hover,
header ul li a.active {
  background: azure;
  color: black;
  transition: 1s;
}

.main_sec {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;

}

#next{
  background-color: #09090a;
  position: absolute;
  align-items: center;
  height: 100vh;
}
button{
  height: 5vh;
  border: 2px solid rebeccapurple
}
#contact{
  height: 100vh;
  color: aliceblue;
  background-color: aquamarine;
  bottom: 0%;
  position:absolute;
}
section img#LFront,
img#LMid {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: auto;
  height: 100%;
}


section img#RFront,
img#RMid {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: auto;
  height: 100%;
}

#star {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}

#earth {
  width: auto;
  height: 100%;
  left: 0%;
  position: absolute;
}

#back {
  position: absolute;
  width: 100%;
  bottom: 0%;
  height: auto;
}

#astranaut{
  position: absolute;
  height: 100%;
  width: auto;
  right: 0%
}

#text {
  position: absolute;
  color: azure;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}
